/*
FONTS LOOP
 */


@font-face {
  font-family: 'fontawesome';
  src: url('../../fonts/fontawesome-webfont.woff2');
}

@font-face {
  font-family: 'rookies';
  src: url('../../fonts/rookies_showtimes-webfont.woff2');
}

$fontf:fontawesome;
$fontr:rookies;