.view-section {
  position: relative;
  width: 100%;
  order: 2;
  flex-grow: 1;
}
.banner-section{
  height: calc(100vh - 60px);
  background-image: url("../../img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain ;
  background-color: #e7e7e7 ;
}
#portfolio{
  height: 100vh;
  background-color: aqua;
}
.skills{
  height: 100vh;
}